<% content_for :javascript do %>
  <%= javascript_include_tag 'manage_blog' %>
  <%= javascript_include_tag 'blogs' %>
<% end %>

<% content_for :css do %>
   <%= stylesheet_link_tag 'blog', media: 'all' %>
<% end -%>

<base href="/posts" > </base>

<div ng-app="blogApp">
  <div error-messages > </div>

  <div ui-view autoscroll="top">Loading</div>

</div>
