

#window_bottom_home {
    background: #FF9259;
}
@media (min-width: 1000px) {

  .sign_in form {
    position: absolute;

  }

}
.sign_in .new-session {
  display: none;

}
.sign_in:hover .new-session {
  display: block;

}

.sign_in form {
  background: #eaeaea;
  padding: 1em;
}
