header, #header {
	/*border:0.1em #F2EC99 solid;*/
  font-family: 'Fascinate', cursive;;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #1D3C42;
	width:100%;

	z-index:100;
	position:absolute;
	left:0;
	top:0;
	text-align:center;

  .window_top_main {
    height:6em;
    background: #FF9259;

    p {
      background:#444;
      box-shadow: 1px 1px 1px;
    }
    /* fallback */
    // background-color: #bbbbbb;
    // background: url(images/linear_bg_2.png);
    // background-repeat: repeat-x;
    // background: #15668c; /* Old browsers */

    // background: #15668c; /* Old browsers */
    // background: -moz-linear-gradient(top,  #15668c 0%, #7db9c1 67%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#15668c), color-stop(67%,#7db9c1)); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(top,  #15668c 0%,#7db9c1 67%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(top,  #15668c 0%,#7db9c1 67%); /* Opera 11.10+ */
    // background: -ms-linear-gradient(top,  #15668c 0%,#7db9c1 67%); /* IE10+ */
    // background: linear-gradient(to bottom,  #15668c 0%,#7db9c1 67%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15668c', endColorstr='#7db9c1',GradientType=0 ); /* IE6-9 */

  }

  .window_top {
    height: 1em;
    // background: #7db9c1; /* Old browsers */
    // background: -moz-linear-gradient(top,  #7db9c1 78%, #bfbfbf 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(78%,#7db9c1), color-stop(100%,#bfbfbf)); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(top,  #7db9c1 78%,#bfbfbf 100%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(top,  #7db9c1 78%,#bfbfbf 100%); /* Opera 11.10+ */
    // background: -ms-linear-gradient(top,  #7db9c1 78%,#bfbfbf 100%); /* IE10+ */
    // background: linear-gradient(to bottom,  #7db9c1 78%,#bfbfbf 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9c1', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */
  }

}

#window_bottom_home {
    background: #FF9259;
}
@media (min-width: 1000px) {

  .sign_in form {
    position: absolute;

  }

}
.sign_in .new-session {
  display: none;

}
.sign_in:hover .new-session {
  display: block;

}

.sign_in form {
  background: #eaeaea;
  padding: 1em;
}
